01 - Pandas and Data Wrangling/.ipynb_checkpoints/Homework 1-checkpoint.ipynb
02 - Data from the Web/.ipynb_checkpoints/Homework 2-checkpoint.ipynb
03 - Interactive Viz/.ipynb_checkpoints/Homework 3-checkpoint.ipynb
04 - Applied ML/.ipynb_checkpoints/HW4-checkpoint.ipynb